<div class="start-page">
  <main class="start-page-content">
    <h1 class="game-title">Kotenocka</h1>
    <button class="game-start-button">Миииииу</button>
  </main>
  <div class="gif-cats">
    <div class="gif-cat gif-cat-one"></div>
    <div class="gif-cat gif-cat-two"></div>
    <div class="gif-cat gif-cat-three"></div>
    <div class="gif-cat gif-cat-fourth"></div>
    <div class="gif-cat gif-cat-five"></div>
  </div>
  <audio #gameAudio src="audio/cats.mp3" autoplay muted="muted" loop controls>
  </audio>
</div>
